<div class="card">

<%=link_to getpost_path(title: post.title.parameterize) do%>
  <img src="/uploads/<%=post.image%>" class="card-img-top" alt="...">
      <div class="card-body">
        <h5 class="card-title"><%=post.title%></h5>
      </div>
<%end%>
</div>
