<div id="<%= dom_id card %>">
  <p>
    <strong>Nuance:</strong>
    <%= card.nuance_id %>
  </p>

  <p>
    <strong>Post:</strong>
    <%= card.post_id %>
  </p>

  <p>
    <strong>Measure:</strong>
    <%= card.measure %>
  </p>

</div>
